@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

::-moz-selection {
  background: #fff;
  color: #0E3150;
}

::selection {
  background: #fff;
  color: #0E3150;
}

::-moz-selection {
  background: #fff;
  color: #0E3150;
}

body, html, textarea, input {
  font-size: 16px;
  font-family: Helvetica, sans-serif, "Microsoft JhengHei";
}
@media (max-width: 1440px) {
  body, html, textarea, input {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  body, html, textarea, input {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  body, html, textarea, input {
    font-size: 8px;
  }
}

nav {
  position: fixed;
  width: 100%;
  height: 3.5rem;
  background-color: #E1CD8D;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1280px) {
  nav {
    height: 2.7rem;
  }
}
@media (max-width: 414px) {
  nav {
    justify-content: center;
  }
}
nav .logo {
  width: 220px;
  height: 75%;
  margin-left: 1.5rem;
  margin-bottom: 0.3rem;
  background-image: url(../img/MingHsuan_blue.svg);
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}
@media (max-width: 414px) {
  nav .logo {
    display: none;
  }
}
nav .menu {
  display: flex;
  justify-content: space-around;
  margin: 0 1.5rem;
}
nav .menu li {
  margin-left: 2.2rem;
  font-size: 1.3em;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}
@media (max-width: 1280px) {
  nav .menu li {
    font-size: 1rem;
  }
}
@media (max-width: 414px) {
  nav .menu li {
    margin: 0 0.5rem;
  }
}
@media (max-width: 320px) {
  nav .menu li {
    font-size: 0.8rem;
  }
}
nav .menu li .star_hover {
  display: none;
  position: absolute;
  width: 20%;
  height: 90%;
  background-image: url(../img/star_hover.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
nav .menu li:hover .star_hover {
  display: block;
  top: 0;
  left: -1.2rem;
}
@media (max-width: 414px) {
  nav .menu li:hover .star_hover {
    display: none;
  }
}
nav .menu li a {
  color: #0E3150;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #E1CD8D !important;
}

#fullpage .section:nth-of-type(1) {
  background-color: #0E3150;
}

#fullpage .section:nth-of-type(2) {
  background-color: #9B414B;
  background-image: url(../img/bg_star.svg);
  background-position: left 45px;
  background-repeat: no-repeat;
}
@media (max-width: 414px) {
  #fullpage .section:nth-of-type(2) {
    background-position: left 0px;
    background-size: 40%;
  }
}

#fullpage .section:nth-of-type(3) {
  background-color: #E1CD8D;
  background-image: url(../img/bg_curve.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 30%;
}
@media (max-width: 1024px) and (min-height: 1000px) {
  #fullpage .section:nth-of-type(3) {
    background-size: auto 28%;
  }
}
@media (max-width: 820px) {
  #fullpage .section:nth-of-type(3) {
    background-size: auto 30%;
  }
}

#fullpage .section:nth-of-type(4) {
  background-color: #F7EAE4;
  background-image: url(../img/title_skill.svg);
  background-position: center 100px;
  background-repeat: no-repeat;
  background-size: 17%;
}
@media (max-width: 640px) {
  #fullpage .section:nth-of-type(4) {
    background-position: center 80px;
    background-size: 40%;
  }
}

#fullpage .section:nth-of-type(5) {
  background-color: #0E3150;
  background-image: url(../img/title_works.svg);
  background-position: center 100px;
  background-repeat: no-repeat;
  background-size: 23%;
}
@media (max-width: 640px) {
  #fullpage .section:nth-of-type(5) {
    background-position: center 80px;
    background-size: 45%;
  }
}

#fullpage .section:nth-of-type(6), #fullpage .section:nth-of-type(7) {
  background-color: #E1CD8D;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionHome {
  flex-direction: column;
  position: relative;
}
.sectionHome img {
  width: 65%;
  height: auto;
  position: relative;
  top: -10px;
}
@media (max-width: 414px) {
  .sectionHome img {
    width: 95%;
  }
}
.sectionHome h2 {
  color: #E1CD8D;
  font-size: 5em;
  letter-spacing: 0.2rem;
  margin-top: 3vh;
}
@media (max-width: 414px) {
  .sectionHome h2 {
    font-size: 3.5em;
  }
}
.sectionHome button {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border: 0px;
  color: #E1CD8D;
  font-size: 2rem;
  cursor: pointer;
  outline: unset;
}
.sectionHome button span {
  position: relative;
  animation: arrow 1.8s infinite;
}

@keyframes arrow {
  0% {
    bottom: 2rem;
  }
  50% {
    bottom: 0;
    color: #9B414B;
  }
  100% {
    bottom: 2rem;
  }
}
.sectionAbout {
  align-items: flex-end;
  width: 70%;
}
@media (max-width: 1024px) {
  .sectionAbout {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
}
.sectionAbout div {
  height: 80%;
  color: #E1CD8D;
}
@media (max-width: 1024px) {
  .sectionAbout div {
    height: auto;
  }
}
.sectionAbout div:nth-of-type(1) {
  width: 60%;
  padding-left: 6rem;
  padding-top: 2rem;
  position: relative;
}
@media (max-width: 1024px) {
  .sectionAbout div:nth-of-type(1) {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .sectionAbout div:nth-of-type(1) {
    width: 100%;
  }
}
@media (max-width: 414px) {
  .sectionAbout div:nth-of-type(1) {
    padding-top: 9rem;
    padding-left: 0rem;
  }
}
@media (max-width: 375px) {
  .sectionAbout div:nth-of-type(1) {
    padding-top: 7rem;
  }
}
.sectionAbout div:nth-of-type(1) h2 {
  font-size: 4em;
  margin-bottom: 1rem;
  position: relative;
  left: -4rem;
  text-shadow: -2px -2px 0 #9B414B, 2px -2px 0 #9B414B, -2px 2px 0 #9B414B, 2px 2px 0 #9B414B;
  transform: rotate(350deg);
}
@media (max-width: 414px) {
  .sectionAbout div:nth-of-type(1) h2 {
    left: 0rem;
  }
}
.sectionAbout div:nth-of-type(1) p {
  font-size: 1.4rem;
  line-height: 2;
  transform: rotate(350deg);
}
@media (max-width: 1440px) {
  .sectionAbout div:nth-of-type(1) p {
    font-size: 1rem;
  }
}
@media (max-width: 414px) {
  .sectionAbout div:nth-of-type(1) p {
    font-size: 0.8rem;
    line-height: 1.8;
  }
}
.sectionAbout div:nth-of-type(1) p span {
  color: #F7EAE4;
  font-weight: 700;
}
.sectionAbout div:nth-of-type(1) p:nth-of-type(2) {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}
@media (max-width: 375px) {
  .sectionAbout div:nth-of-type(1) p:nth-of-type(2) {
    margin-top: 1rem;
    margin-left: 1rem;
  }
}
@media (max-width: 320px) {
  .sectionAbout div:nth-of-type(1) p:nth-of-type(2) {
    margin-left: 1.5rem;
  }
}
.sectionAbout div:nth-of-type(1) p:nth-of-type(2) img {
  margin-right: 1rem;
}
@media (max-width: 1280px) {
  .sectionAbout div:nth-of-type(1) p:nth-of-type(2) img {
    width: 56px;
    height: 56px;
  }
}
@media (max-width: 768px) {
  .sectionAbout div:nth-of-type(1) p:nth-of-type(2) img {
    width: 48px;
    height: 48px;
  }
}
@media (max-width: 414px) {
  .sectionAbout div:nth-of-type(1) p:nth-of-type(2) img {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 375px) {
  .sectionAbout div:nth-of-type(1) p:nth-of-type(2) img {
    margin-right: 0.5rem;
  }
}
@media (max-width: 320px) {
  .sectionAbout div:nth-of-type(1) p:nth-of-type(2) img {
    width: 24px;
    height: 24px;
  }
}
.sectionAbout div:nth-of-type(1) .star01 {
  position: absolute;
  top: 5rem;
  left: -10%;
  width: 13%;
  height: 13%;
  background: url(../img/star01.svg) no-repeat;
  background-size: contain;
}
@media (max-width: 1280px) {
  .sectionAbout div:nth-of-type(1) .star01 {
    left: -3rem;
  }
}
@media (max-width: 414px) {
  .sectionAbout div:nth-of-type(1) .star01 {
    top: 10.5rem;
  }
}
@media (max-width: 375px) {
  .sectionAbout div:nth-of-type(1) .star01 {
    top: 8.5rem;
    left: -2.5rem;
  }
}
.sectionAbout div:nth-of-type(1) .star02 {
  position: absolute;
  top: 3rem;
  right: -9rem;
  width: 20%;
  height: 20%;
  background: url(../img/star02.svg) no-repeat;
  background-size: contain;
}
@media (max-width: 414px) {
  .sectionAbout div:nth-of-type(1) .star02 {
    right: -3rem;
    top: 3rem;
    width: 30%;
    height: 30%;
  }
}
.sectionAbout div:nth-of-type(2) {
  width: 40%;
  background-image: url(../img/portrait.png);
  background-position: right 10px;
  background-size: 95%;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .sectionAbout div:nth-of-type(2) {
    width: 80%;
    height: 50%;
    background-position: center top 40px;
  }
}
@media (max-width: 414px) {
  .sectionAbout div:nth-of-type(2) {
    width: 100%;
    height: 45%;
    background-position: right 40px;
    background-size: 100%;
  }
}
@media (max-width: 375px) {
  .sectionAbout div:nth-of-type(2) {
    background-position: right 20px;
  }
}
@media (max-width: 320px) {
  .sectionAbout div:nth-of-type(2) {
    opacity: 0;
  }
}

.sectionExperience {
  justify-content: flex-start;
  flex-direction: column;
}
.sectionExperience h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.sectionExperience h2 img {
  width: auto;
  height: 9vh;
}
@media (max-width: 414px) {
  .sectionExperience h2 img {
    width: 100%;
    height: auto;
  }
}
.sectionExperience .timeline {
  padding-top: 4vh;
  position: relative;
  height: 60vh;
}
.sectionExperience .timeline:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(rgba(247, 234, 228, 0) 0%, rgba(247, 234, 228, 0.7) 10%, rgba(247, 234, 228, 0.7) 100%);
  z-index: 2;
}
@media (max-width: 414px) {
  .sectionExperience .timeline:before {
    width: 8px;
    left: 0;
  }
}
@media (max-width: 320px) {
  .sectionExperience .timeline:before {
    left: 4px;
  }
}
.sectionExperience .timeline:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 60px;
  bottom: -90px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(247, 234, 228, 0.7);
  z-index: 2;
}
@media (max-width: 1024px) {
  .sectionExperience .timeline:after {
    height: 80px;
    bottom: -140px;
  }
}
@media (max-width: 414px) {
  .sectionExperience .timeline:after {
    width: 8px;
    left: 0;
    height: 50px;
    bottom: -80px;
  }
}
@media (max-width: 320px) {
  .sectionExperience .timeline:after {
    left: 4px;
    height: 30px;
    bottom: -50px;
  }
}
.sectionExperience .timeline_frame {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 7vh;
  z-index: 5;
}
.sectionExperience .timeline_frame:nth-child(odd) {
  transform: translateX(calc(50% + 3rem + 16px));
}
@media (max-width: 414px) {
  .sectionExperience .timeline_frame:nth-child(odd) {
    transform: translateX(3rem);
  }
}
@media (max-width: 375px) {
  .sectionExperience .timeline_frame:nth-child(odd) {
    transform: translateX(1.5rem);
  }
}
.sectionExperience .timeline_frame:nth-child(odd) :after {
  content: "";
  position: absolute;
  top: 50%;
  left: -3rem;
  width: 3rem;
  height: 1px;
  background-color: #9B414B;
}
@media (max-width: 414px) {
  .sectionExperience .timeline_frame:nth-child(odd) :after {
    left: -2rem;
    width: 2rem;
  }
}
@media (max-width: 375px) {
  .sectionExperience .timeline_frame:nth-child(odd) :after {
    display: none;
  }
}
.sectionExperience .timeline_frame:nth-child(odd) :before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #E1CD8D;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  left: calc(-3rem - 40px);
  background-color: #9B414B;
  background-image: url(../img/icon_work.svg);
}
@media (max-width: 320px) {
  .sectionExperience .timeline_frame:nth-child(odd) :before {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 414px) {
  .sectionExperience .timeline_frame:nth-child(odd) :before {
    left: calc(-2rem - 40px);
  }
}
@media (max-width: 375px) {
  .sectionExperience .timeline_frame:nth-child(odd) :before {
    left: calc(-0.5rem - 40px);
  }
}
@media (max-width: 320px) {
  .sectionExperience .timeline_frame:nth-child(odd) :before {
    left: calc(-0.5rem - 32px);
  }
}
.sectionExperience .timeline_frame:nth-child(odd) img {
  position: absolute;
  top: -100%;
  transform: translateY(-50%);
  left: calc(-3rem - 40px - 50px);
  transition: 0.5s all;
  opacity: 0;
}
.sectionExperience .timeline_frame:nth-child(even) {
  transform: translateX(calc(-50% - 3rem - 16px));
  flex-direction: row-reverse;
  text-align: right;
}
@media (max-width: 414px) {
  .sectionExperience .timeline_frame:nth-child(even) {
    transform: translateX(3rem);
    flex-direction: row;
    text-align: left;
  }
}
@media (max-width: 375px) {
  .sectionExperience .timeline_frame:nth-child(even) {
    transform: translateX(1.5rem);
  }
}
.sectionExperience .timeline_frame:nth-child(even) :after {
  content: "";
  position: absolute;
  top: 50%;
  right: -3rem;
  width: 3rem;
  height: 1px;
  background-color: #9B414B;
}
@media (max-width: 414px) {
  .sectionExperience .timeline_frame:nth-child(even) :after {
    right: auto;
    left: -2rem;
    width: 2rem;
  }
}
@media (max-width: 375px) {
  .sectionExperience .timeline_frame:nth-child(even) :after {
    display: none;
  }
}
.sectionExperience .timeline_frame:nth-child(even) :before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #E1CD8D;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  right: calc(-3rem - 40px);
  background-color: #9B414B;
  background-image: url(../img/icon_work.svg);
}
@media (max-width: 320px) {
  .sectionExperience .timeline_frame:nth-child(even) :before {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 414px) {
  .sectionExperience .timeline_frame:nth-child(even) :before {
    right: auto;
    left: calc(-2rem - 40px);
  }
}
@media (max-width: 375px) {
  .sectionExperience .timeline_frame:nth-child(even) :before {
    left: calc(-0.5rem - 40px);
  }
}
@media (max-width: 320px) {
  .sectionExperience .timeline_frame:nth-child(even) :before {
    left: calc(-0.5rem - 32px);
  }
}
.sectionExperience .timeline_frame:nth-child(even) img {
  position: absolute;
  top: -100%;
  transform: translateY(-50%);
  right: calc(-3rem - 40px - 50px);
  transition: 0.5s all;
  opacity: 0;
}
.sectionExperience .timeline_frame:hover img {
  opacity: 1;
  top: 50%;
}
.sectionExperience .timeline_frame p {
  color: #F7EAE4;
  background-color: #9B414B;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  white-space: nowrap;
}
@media (max-width: 414px) {
  .sectionExperience .timeline_frame p {
    padding: 0.4rem 1rem;
  }
}
@media (max-width: 320px) {
  .sectionExperience .timeline_frame p {
    padding: 0.4rem 0.8rem;
  }
}
.sectionExperience .timeline_frame:nth-of-type(3) p {
  background-color: #0E3150;
}
.sectionExperience .timeline_frame:nth-of-type(3) p:after {
  background-color: #0E3150;
  z-index: 10;
}
.sectionExperience .timeline_frame:nth-of-type(3) p:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #E1CD8D;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0E3150;
  background-image: url(../img/icon_school.svg);
  z-index: 10;
}
@media (max-width: 320px) {
  .sectionExperience .timeline_frame:nth-of-type(3) p:before {
    width: 32px;
    height: 32px;
  }
}
.sectionExperience .timeline_frame section {
  margin: 0 0.5rem;
  font-size: 1.5rem;
}
@media (max-width: 1280px) {
  .sectionExperience .timeline_frame section {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .sectionExperience .timeline_frame section {
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  .sectionExperience .timeline_frame section {
    font-size: 0.9rem;
  }
}
.sectionExperience .timeline_frame section h5 {
  color: #0E3150;
  font-weight: bold;
  margin-bottom: 0.25rem;
}
.sectionExperience .timeline_frame section span {
  color: #9B414B;
}
.sectionExperience .timeline_road {
  position: absolute;
  opacity: 0.15;
  width: 55%;
  height: 60vh;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.2), #000, #000, rgba(14, 49, 80, 0));
  z-index: 1;
}
@media (max-width: 1024px) {
  .sectionExperience .timeline_road {
    height: 75vh;
  }
}
@media (max-width: 414px) {
  .sectionExperience .timeline_road {
    display: none;
  }
}

.sectionSkill ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 8rem;
}
@media (max-width: 640px) {
  .sectionSkill ul {
    padding-top: 4rem;
    padding-bottom: 10rem;
  }
}
@media (max-width: 1024px) {
  .sectionSkill ul {
    flex-direction: column;
    margin-bottom: 5rem;
    align-items: center;
  }
}
.sectionSkill ul li {
  padding: 0 1rem;
  width: 27%;
  text-align: center;
  line-height: 1.5;
  color: #0E3150;
  transition: all 0.3s;
}
.sectionSkill ul li:hover {
  filter: brightness(0.9);
}
@media (max-width: 1024px) {
  .sectionSkill ul li {
    width: 90%;
    padding: 3rem 0;
  }
}
.sectionSkill ul li img {
  width: 90%;
  height: auto;
}
.sectionSkill ul li p {
  font-size: 2rem;
  font-weight: bold;
}
.sectionSkill ul li span {
  font-size: 1.2rem;
  position: relative;
  top: 1rem;
}
@media (max-width: 1280px) {
  .sectionSkill ul li span {
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  .sectionSkill ul li span {
    font-size: 0.8rem;
  }
}

.sectionWorks {
  flex-direction: column;
}
@media (max-width: 640px) {
  .sectionWorks {
    padding-top: 4rem;
    padding-bottom: 10rem;
  }
}
.sectionWorks .sub {
  margin-top: 10rem;
  margin-bottom: 1rem;
  color: #E1CD8D;
}
.sectionWorks ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sectionWorks ul li {
  width: 23%;
  height: 25vh;
  border: 4px solid #E1CD8D;
  border-radius: 20px;
  margin-bottom: 1rem;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .sectionWorks ul li {
    margin-bottom: 3rem;
  }
}
@media (max-width: 640px) {
  .sectionWorks ul li {
    width: 47%;
    margin-bottom: 1.5rem;
  }
}
.sectionWorks ul li:hover .text_block {
  bottom: 0;
}
.sectionWorks ul li:last-child {
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionWorks ul li:last-child a {
  width: 90%;
  height: 30%;
  font-size: 1em;
  color: #E1CD8D;
  border-radius: 40px;
  border: 2px solid #E1CD8D;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionWorks ul li:last-child a:hover {
  background-color: #E1CD8D;
  color: #0E3150;
  font-weight: bold;
}
.sectionWorks .text_block {
  height: calc(100% + 2.5rem);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -100%;
  padding: 0 2rem;
  background-color: rgba(225, 205, 141, 0.9);
  color: #0E3150;
  text-align: center;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 640px) {
  .sectionWorks .text_block {
    height: 2rem;
    padding: 0;
    bottom: -2px;
  }
}
.sectionWorks .text_block h3 {
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.2em;
  font-weight: bold;
}
@media (max-width: 1280px) {
  .sectionWorks .text_block h3 {
    font-size: 1em;
  }
}
@media (max-width: 640px) {
  .sectionWorks .text_block h3 {
    font-size: 1.2em;
    height: 2rem;
    line-height: 2rem;
  }
}
.sectionWorks .text_block div {
  line-height: 1.5;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 640px) {
  .sectionWorks .text_block div {
    display: none;
  }
}
.sectionWorks .text_block div p {
  font-weight: bold;
}
.sectionWorks .text_block div span {
  font-size: 1.2em;
}
.sectionWorks .text_block div button {
  margin-top: 0.5rem;
  color: #fff;
  background-color: #9B414B;
  padding: 0.2rem 0.8rem;
  border-radius: 1rem;
  transition: all 0.3s;
  outline: unset;
  border-width: 0;
}
.sectionWorks .text_block div button:hover {
  transform: scale(1.1) translateZ(0);
}

.sectionMsg {
  font-size: 1.5rem;
  flex-direction: column;
}
.sectionMsg input, .sectionMsg select, .sectionMsg textarea, .sectionMsg button {
  font-size: 16px;
}
@media (max-width: 1440px) {
  .sectionMsg {
    font-size: 1rem;
  }
}
.sectionMsg > img {
  height: 7vh;
  margin-top: 2vh;
  margin-bottom: 4vh;
}
@media (max-width: 414px) {
  .sectionMsg > img {
    width: 100%;
    height: auto;
  }
}
.sectionMsg form {
  width: 450px;
  max-width: 100%;
  color: #0E3150;
  font-weight: 700;
  position: relative;
}
.sectionMsg .msg {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.sectionMsg .msg input[placeholder], .sectionMsg .msg textarea {
  width: 89%;
  vertical-align: top;
  letter-spacing: 1px;
  color: #9B414B;
  margin-left: 0.5rem;
  padding: 0;
  padding-bottom: 4px;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #0E3150;
  resize: none;
  overflow: hidden;
}
.sectionMsg .msg input[placeholder]:focus-visible, .sectionMsg .msg textarea:focus-visible {
  outline: unset;
}
.sectionMsg .msg ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
}
.sectionMsg .msg input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.85);
}
.sectionMsg .msg :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
}
.sectionMsg .msg.msgColor {
  justify-content: flex-start;
  align-items: center;
}
.sectionMsg .msg.msgColor em {
  color: #9B414B;
  margin-left: 0.75rem;
}
.sectionMsg .msg.msgSubmit {
  position: absolute;
  right: 0;
  bottom: -0.2rem;
  background-color: transparent;
  border: 2px solid #0E3150;
  border-radius: 2rem;
  padding: 0 2rem;
  color: #0E3150;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
}
@media (max-width: 1440px) {
  .sectionMsg .msg.msgSubmit {
    font-size: 1rem;
  }
}
@media (max-width: 414px) {
  .sectionMsg .msg.msgSubmit {
    position: relative;
    width: 100%;
    display: block;
    padding: 0.25rem 2rem;
  }
}
.sectionMsg .msg.msgSubmit:hover {
  background-color: #0E3150;
  color: #F7EAE4;
}
.sectionMsg > section {
  width: 100%;
}
.sectionMsg > section > p {
  margin: 1rem 0.5rem;
  color: #fff;
  font-weight: 500;
}
.sectionMsg > section .msgSwiper {
  padding-bottom: 1.25rem;
}
.sectionMsg > section .msgSwiper .swiper-scrollbar {
  height: 7px;
  width: 65%;
  left: 50%;
  transform: translateX(-50%);
}
.sectionMsg > section .msgSwiper .swiper-slide {
  padding: 1.25rem 0.75rem 1rem;
  border-radius: 1rem;
  color: #fff;
}
.sectionMsg > section .msgSwiper .swiper-slide > h5 {
  display: flex;
  align-items: center;
}
.sectionMsg > section .msgSwiper .swiper-slide > h5 img {
  margin-right: 0.5rem;
}
.sectionMsg > section .msgSwiper .swiper-slide > hr {
  margin: 1rem 0;
  border: 0;
  border-bottom: 1px solid #fff;
}
.sectionMsg > section .msgSwiper .swiper-slide > p {
  line-height: 1.5;
  word-wrap: break-word;
}
.sectionMsg > section .msgSwiper .swiper-slide > span {
  margin-top: 1rem;
  display: block;
  text-align: right;
}

.checkContain {
  position: relative;
  margin-left: 10px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* Show the indicator (dot/circle) when checked */
}
.checkContain input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkContain .checkmark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #eee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Create the indicator (the dot/circle - hidden when not checked) */
}
.checkContain .checkmark:after {
  content: "✔";
  position: absolute;
  display: none;
  color: #F7EAE4;
}
.checkContain:hover input ~ .checkmark {
  filter: brightness(0.9);
}
.checkContain input:checked ~ .checkmark:after {
  display: block;
}

.footer {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 2rem;
  color: #0E3150;
}
.footer p img {
  margin: 0.5rem;
  transition: all 0.6s;
}
.footer p img:hover {
  transform: rotate(360deg);
}
@media (max-width: 414px) {
  .footer p img {
    width: 24%;
  }
}
.footer .copyRight {
  margin-top: 1rem;
  font-size: 1rem;
}
.footer hr {
  border: 0;
  border-bottom: 1px solid #0E3150;
}

.top {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: #0E3150;
  color: #E1CD8D;
  opacity: 0.75;
  font-weight: bold;
  cursor: pointer;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */