//裝置斷點
@mixin notebook {
    @media (max-width: 1680px) {
        @content;
    }
}
@mixin notebookS {
    @media (max-width: 1280px) {
        @content;
    }
}
@mixin padPro {
    @media (max-width: 1024px) {
        @content;
    }
}
@mixin pad {
    @media (max-width: 820px) {
        @content;
    }
}
@mixin iphone {
    @media (max-width: 414px) {
        @content;
    }
}
@mixin iphone6 {
    @media (max-width: 375px) {
        @content;
    }
}
@mixin iphone5 {
    @media (max-width: 320px) {
        @content;
    }
}