//變數
$themeColor: #5fb709;
$navHeight: 50px;

@import 'reset';
@import 'lightbox';
@import 'media';
@import 'keyframes';

//基本設定
*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
    @include iphone(){
        font-size: 14px;
    }
    @include iphone6(){
        font-size: 12px;
    }
    @include iphone5(){
        font-size: 10px;
    }
}
body{
    background-color: $themeColor;
    font-family: arial,sans-serif,"Microsoft JhengHei","Segoe UI";
}
.link_style{
    transition: all .3s;
    display: inline-block;
    img{
        transition: all .3s;
    }
    &:hover img{
        filter: drop-shadow(3px 3px 2px rgba($themeColor, 1));
        transform: translateX(5px);
    }
}
.absolute{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.imgSize{
    width: 100%;
    height: auto;
}
.wrap{
    overflow: hidden;
}
.container{
    max-width: 960px;
    width: 100%;
    margin: 0px auto;
    position: relative;
}
.linebreak{
    display: none;
    @include notebook(){
        display: block;
    }
}

//版頭
nav{
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: $navHeight;
    top: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    img{
        padding: .5rem;
        height: 100%;
        width: auto;
        @include iphone5(){
            width: 75%;
            height: auto;
        }
    }
}
#scene{
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.title{
    background: url(../img/bg_title.jpg) repeat-x center top;
    background-size: 100% auto;
    position: relative;
    padding-top: $navHeight;
    @include notebook() {
        background-size: auto 100%;
    }
    &__main{
        z-index: 5;
        @include notebookS(){
            max-width: 650px;
        }
        @include padPro(){
            padding-top: 3vw;
        }
    }
    &__decoPink, &__decoBlue, &__decoYellow{
        width: 100%;
        top: 3%;
    }
    &__decoPink{
        animation: bling infinite ease-in-out 1s;
    }
    &__decoBlue{
        animation: bling infinite ease-in-out 1.5s;
    }
    &__decoYellow{
        animation: bling infinite ease-in-out 2s;
    }
    &__x{
        width: 15%;
        top: 28%;
        img{
            animation: circle infinite linear 16s;
        }
    }
    &__btn{
        width: 22%;
        top: 69%;
        left: 86%;
        animation: bling alternate infinite .8s;
    }
    &__table{
        position: relative;
        display: flex;
        justify-content: center;
        @include padPro(){
            height: 380px;
            &>img{
                height: 100%;
                width: auto;
            }
        }
        @include pad(){
            height: 50vw;
        }
    }
    &__left{
        top: -27%;
        transform: translateX(-147%);
        @include notebook(){
            transform: translateX(-137%);
        }
        @include pad(){
            display: none;
        }
    }
    &__right{
        top: -46%;
        transform: translateX(48%);
        @include notebook(){
            transform: translateX(42%);
        }
        @include pad(){
            display: none;
        }
    }
    &__cafe{
        top: -20%;
        img{
            animation: float alternate infinite 1.5s ease-in-out 1.5s;
        }
        @include notebookS(){
            width: 500px;
            top: -5vw;
            img{
                width: 100%;
                height: auto;
            }
        }
        @include pad(){
            width: 75%;
            top: -10vw;
        }
    }
    &__slogan{
        width: 960px;
        bottom: -27%;
        @include padPro(){
            width: 94%;
            bottom: -11vw;
        }
    }
}

//版身
.blockFlex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.blockGrid{
    display: flex;
    @include padPro() {
        flex-direction: column;
    }
}
.blockText{
    font-size: 2rem;
    line-height: 1.5;
    z-index: 5;
    position: relative;
    a{
        display: block;
    }
    a:nth-of-type(1){
        margin-top: 1rem;
    }
}
.block__1, .block__2, .block__3{
    animation: bgAni infinite linear 13s;
}
.block__1{
    width: 100%;
    background-image: url(../img/bg01.png);
    &>.blockText{
        margin: 10rem 30rem 0 0;
        @include padPro(){
            align-self: flex-start;
            margin: 14vw 0 0 8vw;
        }
    }
    &--gift{
        position: relative;
        max-width: 480px;
        width: 65%;
        margin: -21rem 0 3.5rem 20rem;
        @include padPro(){
            align-self: flex-end;
            margin: -21vw 9vw 5vw 0;
        }
        @include pad(){
            margin: -14vw 9vw 5vw 0;
        }
        &>img{
            position: relative;
            z-index: 5;
        }
    }
    &--moto{
        position: absolute;
        top: 0;
    }
}
.block__2{
    width: 50%;
    background-image: url(../img/bg02.png);
    @include padPro() {
        width: 100%;
    }
    &>.blockText{
        margin: 5rem 28rem 0 0;
        @include notebook(){
            align-self: flex-start;
            margin: 4vw 0 0 3vw;
        }
        @include padPro(){
            margin: 6vw 0 0 8vw;
        }
    }
    &--gift{
        max-width: 500px;
        width: 55%;
        margin: -13rem 0 0 19rem;
        @include notebook(){
            align-self: flex-end;
            margin: -6vw 3vw 0 0;
        }
        @include notebookS(){
            width: 70%;
            margin: -4vw 3vw 0 0;
        }
        @include padPro(){
            margin: -20vw 8vw 3vw 0;
        }
        @include pad(){
            margin: -8vw 5vw 4vw 0;
        }
    }
}
.block__3{
    width: 50%;
    background-image: url(../img/bg03.png);
    @include padPro() {
        width: 100%;
    }
    &>.blockText{
        margin: 5rem 20rem 0 0;
        @include notebook(){
            align-self: flex-start;
            margin: 4vw 0 0 4vw;
        }
        @include padPro(){
            margin: 6vw 0 0 8vw;
        }
    }
    &--gift{
        max-width: 280px;
        width: 38%;
        margin: -23rem 0 4rem 27rem;
        @include notebook(){
            align-self: flex-end;
            margin: -23vw 3vw 3vw 0;
        }
        @include notebookS(){
            width: 42%;
            margin: -20vw 3vw 2vw 0;
        }
        @include padPro(){
            max-width: 300px;
            margin: -38vw 10vw 2vw 0;
        }
        @include pad(){
            max-width: 380px;
            margin: -25vw 8vw 0 0;
        }
    }
}
.block__4{
    background: url(../img/bg04.png) repeat;
    text-align: center;
    padding: 4rem 0rem;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        @include pad(){
            flex-direction: column;
            width: 90%;
            &>a:nth-of-type(1){
                margin-bottom: 4vw;
            }
        }
    }
    img{
        width: 90%;
        border: 3px #fff solid;
        border-radius: 1.5rem;
    }
}
.number{
    display: inline-block;
    padding: 8px 8px 8px 16px;
    background-color: $themeColor;
    color: #fff;
    font-size: 125%;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 1rem;
    span{
        color: yellow;
    }
}
.textPoint{
    font-size: 140%;
    font-weight: bold;
}

//頁尾
footer{
    width: 100%;
    text-align: center;
    line-height: 1.5;
    font-size: 120%;
    font-weight: bold;
    padding: 1.5rem 2rem 4rem;
    .container{
        @media (max-width:550px) {
            a{
                width: calc(50% - 1rem);
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
        a:nth-of-type(1) {
            margin-top: 1rem;
            margin-right: 1rem;
        }
    }
}

//回頂端
.top{
    position: fixed;
    right: 1rem;
    bottom: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(#fff,0.7);
    color: $themeColor;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    cursor: pointer;
    transition: all .3s;
    &:hover{
        box-shadow: 0 2px 8px rgba(#000, .4);
        background-color: $themeColor;
        color: #fff;
    }
}